{{ define "main" }}
    <main id="homepage-content">
        <div class="homepage-content">
            {{ .Content }}
        </div>
        <div>
            {{ range .Pages }}
                <a href="{{.Permalink}}" class="row">
                    <div id="post-date">
                        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "02 Jan 2006" }}</time>
                    </div>
                    <div id="post-title">
                        {{ .Title }}
                    </div>
                    <div id="post-summary">
                        {{ .Description }}
                    </div>
                </a>
            {{ end }}
        </div>
    </main>
{{ end }}